<app-header titulo="cards"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      alsdjalsñdkjañsdklajsñdlkajsdñajlkdsñalksdjñaklsdjañlksdjañlksdjñaklsdjañlskdjñalskdjañlskdjañlksjd
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/0/1/6/5/0165472db69857b2e0beedf5079300d5.jpg">
    <ion-card-content>
      lakjsdhalskjdhalskjdhlasjdhlakjsdcnlkzc vlxjkvcolskaujdhflakjsdfhlakjdfh l k lajkdfhl akjhal kjlakjdsfh lalakjhsdlakj alkj laskjdfh lakjsd hlakjsdhf aolkjashd f
    </ion-card-content>
  </ion-card>

</ion-content>
